.close {
  display: none;
}

li:hover .close{
  display: block;
}

/* al seleccionar el boton con className="close" diplay:none ocultamos el boton que contiene la "x" para eliminar, 
luego mostramos este boton con li:hover .close display:block , en otras palabras, el boton se muestra cuando pasamos 
por el elemento de lista   */

h1{
  text-align: center;
  color: aliceblue;
  padding-top: 30px;
}
.col-border{
  color: aliceblue;
}
.li{
  color: black;
}

.container{
  background-color: darkcyan;
 
}


